@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
li, a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: rgb(2, 78, 114);
  height: 30px;
}

.logo{
  width: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.nav {
  padding-top: 10px;
  background-color:rgb(2, 78, 114);
}

.nav ul {
  list-style: none;
  background-color: rgb(2, 78, 114);
}

.nav ul li {
  display: inline-block;
  padding: 0px 20px;
}

.nav ul li a {
  transition: all 0.3s ease 0s;
}

.nav ul li a:hover {
  color: #E0C3FC;
}

/* Home Section */
h3, h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.home-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 920px;
}

.home-section::before{
  content: "";
  position: absolute;
  top: 80;
  background: url('/images/photo.jpg') no-repeat center center/cover;
  height: 920px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60%;
  right: 10%;
}

.btn {
  border: none;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  padding: 15px 32px;
  width: 200px;
  cursor: pointer;
  background-color:rgb(2, 78, 114);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #E0C3FC;
  color: black;
}

/* About Section */
.background {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.about {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.about h2 {
  font-size: 60px;
  color: black;
}

.about h5 {
  font-size: 25px;
  color: black;
  text-align: center;
  line-height: 1.6;
}

.colorChange {
  color: rgb(2, 78, 114);
}

hr{
  height: 3px;
  width: 40%;
  margin-left: 30%;
  color: black;
}

.img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border: 10px solid rgb(2, 78, 114);
  border-radius: 50%;
}

/* About:Backgrouund Section */
.background-layout {
  margin-top: 100px;
  background-color: rgb(2, 78, 114);

}

.about-background-images{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 25%; 
}

.container{
  margin: 0px 20%;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  margin: 30px;
  margin-left: 20px;
}

.light-blue {
  color: #8EC5FC;
}

.row-2-layout {
  margin-left: 150px;
}

.project-btn {
  border: none;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 15px 32px;
  width: 200px;
  margin-left: 40%;
  margin-top: 10%;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.project-btn:hover {
  background-color: #E0C3FC;
  color: black;
}

/* My Projects Section */
.white-background {
  background-color: white;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 45px;
  margin: 5%;
  text-align: center;
  line-height: 1.6;
  color: black;
  margin-bottom: 16%;
}

.blue {
  color: rgb(2, 78, 114);
  font-weight: 600;
}

.project-layout-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.project-image-1 {
  display: block;
  margin-right: 200px;
  width: 500px;
  height: 300px;
  opacity: 0.8;
  border-radius: 20px;
}

.project-1-info {
  margin: 180px;
}

.project-1-info h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.project-1-info h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-decoration: none;
}

.project-1-info a {
  text-decoration: underline;
  color: rgb(2, 78, 114);
  font-weight: bold;
  font-size: 18px;
}

.project-1-info a:hover {
  color: black;
}

.project-layout-2 {
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  height: 400px;
  background-color: #74b6f8;
}

.project-image-2 {
  display: block;
  margin-left: 180px;
  width: 500px;
  height: 300px;
  opacity: 0.9;
  border-radius: 20px;
}

.project-2-info {
  margin: 180px;
}

.project-2-info h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.project-2-info h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-decoration: none;
}

.project-2-info a {
  text-decoration: underline;
  color: rgb(2, 78, 114);
  font-weight: bold;
  font-size: 18px;
}

.project-2-info a:hover {
  color: black;
}